---
layout: compress
---
@charset "utf-8";

$title-color:      #3f81a4;

// variables
$base-font-family: "JetBrains Mono", Consolas, "Courier New", system-ui, sans-serif;
$fix-font-family:  "JetBrains Mono", "Cascadia Code", "Source Code Pro", Menlo, Consolas, ui-monospace, monospace;
$heading-font-family: Silkscreen, $base-font-family;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfa;
$brand-color:      lighten($title-color, 10%);

$grey-color:       #9d9d9f;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// breakpoints
$on-palm:          700px;
$on-laptop:        1000px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "syntax-highlighting"
;