---
layout: default
permalink: /categories/
title: Categories
---
<!-- loop through all categories on any posts on site; order is most likely in order they appear, oldest first -->
{% for category in site.categories %}
  <!-- create outer div -->
  <div class="category-group">
    <!-- heading with anchor -->
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <h2 id="#{{ category_name | slugize }}">{{ category_name }}</h2>
    <a name="{{ category_name | slugize }}"></a>
    <!-- loop through each page in the category, default is most recent first -->
    <ul class="posts">
      {% for post in site.categories[category_name] %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
