<footer>
  <div class="col">
    <ul>
      <li><strong><a href="https://twitter.com/tswilliams4" target="_blank" rel="noopener noreferrer" title="My Twitter profile">Mention @tswilliams4</a> on Twitter to let me know how I can make this site better!</strong></li>
      <li><a href="{{site.baseurl}}/categories" title="Post categories">Categories</a></li>
      <li><a href="{{site.baseurl}}/glossary" title="Glossary & definitions">Glossary</a></li>
    </ul>
  </div>
  <div class="col">
    <ul>
      <li>{{ site.description }}</li>
      <li>No analytics, no ads, no trackers</li>
      <li><a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener noreferrer" title="License"><i class="fa fa-creative-commons" aria-hidden="true"></i> CC BY 4.0</a></li>      
    </ul>
  </div>
</footer>
