<footer>
  <div class="col">
    <ul>
      <li>no analytics</li>
      <li>no ads</li>
      <li>no trackers</li>
      <li>no comments (mention <a href="https://twitter.com/tswilliams4" target="_blank" rel="noopener noreferrer" title="My Twitter profile">@tswilliams4</a>)</li>
    </ul>
  </div>
  <div class="col">
    <p style="margin-bottom:7px">{{ site.description }}</p>
    <p style="margin-bottom:7px">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><i class="fa fa-creative-commons" aria-hidden="true"></i> {{ site.license }}</a>
    </p>
    <p><a href="{{site.baseurl}}/glossary">Glossary</a></p>
  </div>
</footer>
