<header>
  <!-- site header -->
  <a href="{{ site.baseurl }}/" class="home-link">
    <!-- round avatar as per https://stackoverflow.com/a/40466110 -->
    <img alt="thomasswilliams" height="130" src="/images/avatar.png" width="130" style="object-fit: cover; object-position: top center; border-radius: 50%;">
    <h1 style="margin-bottom:-0.2em">Thomas Williams</h1>
  </a>
  <!-- social links -->
  <div id="links">
    <a href="https://bsky.app/profile/thomasswilliams.bsky.social" target="_blank" rel="noopener noreferrer" title="My Bluesky profile @thomasswilliams.bsky.social">Bluesky</a>
    <a href="https://www.linkedin.com/in/thomasswilliams/" target="_blank" rel="noopener noreferrer" title="My LinkedIn profile">LinkedIn</a>
    <a href="https://stackoverflow.com/users/116288/thomasswilliams" target="_blank" rel="noopener noreferrer" title="My Stack Overflow profile">Stack Overflow</a>
    <a href="https://github.com/thomasswilliams" target="_blank" rel="noopener noreferrer" title="My GitHub overview">GitHub</a>
    <hr />
    <a href="{{site.baseurl}}/categories" title="Post categories">Categories</a>
    <a href="{{site.baseurl}}/glossary" title="Glossary & definitions">Glossary</a>
    <!-- Atom feed -->
    <a href="/atom.xml" title="Atom feed">Feed</a>
    <hr />
  </div>
  <!-- Site Search 360 search box -->
  <div id="search">
    <input id="searchBox" type="search" placeholder="Search…">
  </div>
</header>