<header>
  <!-- site header -->
  <a href="{{ site.baseurl }}/">
    <img alt="thomasswilliams" height="150" src="/images/avatar.png" width="150">
    <h1>{{ site.title }}</h1>
  </a>
  <!-- social links -->
  <ul> 
    <li><a href="https://stackoverflow.com/users/116288/thomasswilliams"><i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i> <span class="username">thomasswilliams</span></a></li> 
    <li><a href="https://github.com/thomasswilliams"><i class="fa fa-github fa-2x" aria-hidden="true"></i> <span class="username">thomasswilliams</span></a></li> 
    <li><a href="https://twitter.com/tswilliams4"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> <span class="username">tswilliams4</span></a></li> 
    <li><a href="https://www.flickr.com/photos/thomasswilliams"><i class="fa fa-flickr fa-2x" aria-hidden="true"></i> <span class="username">thomasswilliams</span></a></li>
  </ul>
  <!-- Atom feed -->
  <a href="/atom.xml" title="Subscribe">
    <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x" style="color:#FF761B"></i>
      <i class="fa fa-rss fa-stack-1x"></i>
    </span>
  </a>
</header>