<header>
  <!-- site header -->
  <a href="{{ site.baseurl }}/">
    <img alt="thomasswilliams" height="150" src="/images/avatar.png" width="150">
    <h1 style="margin-bottom:-0.2em">{{ site.title }}</h1>
    <!-- sub-heading -->
    <small style="color:#aededf">An experienced database administrator (DBA), analyst, and software developer based in Hobart, Tasmania.</small>
  </a>
  <!-- social links -->
  <ul>
    <li><a href="https://www.linkedin.com/in/thomasswilliams/" target="_blank" rel="noopener noreferrer" title="My LinkedIn profile"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> <span class="username">LinkedIn</span></a></li>
    <li><a href="https://stackoverflow.com/users/116288/thomasswilliams" target="_blank" rel="noopener noreferrer" title="My Stack Overflow profile"><i class="fa fa-stack-overflow fa-2x" aria-hidden="true"></i> <span class="username">Stack Overflow</span></a></li>
    <li><a href="https://github.com/thomasswilliams" target="_blank" rel="noopener noreferrer" title="My GitHub overview"><i class="fa fa-github fa-2x" aria-hidden="true"></i> <span class="username">GitHub</span></a></li>
    <li><a href="https://twitter.com/tswilliams4" target="_blank" rel="noopener noreferrer" title="My Twitter profile"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i> <span class="username">Twitter</span></a></li>
    <li><a href="https://www.flickr.com/photos/thomasswilliams" target="_blank" rel="noopener noreferrer" title="My Flickr Photostream"><i class="fa fa-flickr fa-2x" aria-hidden="true"></i> <span class="username">Flickr</span></a></li>
  </ul>
  <!-- search page -->
  <!-- <a href="/search.html" title="Google search">
    <i class="fa fa-search fa-2x" style="color:#ffffff"></i> Search
  </a> -->
  <!-- Atom feed -->
  <a href="/atom.xml" title="Atom feed">
    <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x" style="color:#FF761B"></i>
      <i class="fa fa-rss fa-stack-1x"></i>
    </span> Feed
  </a>
</header>