<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="{{ site.github_username }}">
  
  <!-- FontAwesome glyphs and icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- linked fonts -->
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,700italic'  type='text/css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway' type='text/css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Code+Pro' type='text/css'>
  <!-- local styles -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
