// reset
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// basic body styling
body {
  font-family: $base-font-family;
  color: $text-color;
  font-feature-settings: "kern" 1;
  height: 100%;
  word-wrap: break-word;
}

// set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

// images
img {
  max-width: 100%;
  vertical-align: middle;
}

// lists
ul, ol {
  margin-left: $spacing-unit;
}
li {
  margin-top: 0.3em;
  > ul,
  > ol {
    margin-bottom: 0;
  }
}
// paragraphs in lists, slightly reduced bottom padding
li > p {
  margin-bottom: $spacing-unit / 4;
}

// headings
h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
  font-weight: bold;
}

// links
a {
  color: $brand-color;
  text-decoration: none;
  &:visited {
    color: darken($brand-color, 15%);
  }
  &:hover {
    color: darken($brand-color, 25%);
    background-color: darken($background-color, 5%);
    text-decoration: underline;
  }
}

// quotes
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  > :last-child {
    margin-bottom: 0;
  }
}

// inputs adapted from terminal.css https://terminalcss.xyz/
input[type=email], input[type=text], input[type=number], input[type=password], input[type=search],
input[type=date], input[type=time] {
  border: 2px solid $grey-color-dark;
  padding: 0.7em 0.5em;
  font-size: 1em;
  appearance: none;
  border-radius: 0;
}
input[type=email]:active, input[type=text]:active, input[type=number]:active, input[type=password]:active,
input[type=search]:active, input[type=date]:active, input[type=time]:active, input[type=email]:focus,
input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus,
input[type=date]:focus, input[type=time]:focus {
  outline:none;
  appearance: none;
  border: 2px solid #000000;
}
input[type=text]:not(:placeholder-shown):invalid, input[type=email]:not(:placeholder-shown):invalid,
input[type=password]:not(:placeholder-shown):invalid, input[type=search]:not(:placeholder-shown):invalid,
input[type=number]:not(:placeholder-shown):invalid, input[type=date]:not(:placeholder-shown):invalid,
input[type=time]:not(:placeholder-shown):invalid {
  border-color: darkred;
}
input, textarea, select {
  color: $text-color;
  background-color: $background-color;
}
input::placeholder, textarea::placeholder {
  color: $grey-color-light !important;
  opacity: 1;
}
textarea {
  height: auto;
  resize: none;
  border: 2px solid $grey-color-dark;
  padding: 0.5em;
  font-size: 1em;
  appearance: none;
  border-radius: 0;
}
textarea:focus {
  outline: none;
  appearance: none;
  border: 2px solid #000000;
}
textarea:not(:placeholder-shown):invalid{
  border-color: darkred;
}
select {
  border: 2px solid $grey-color-dark;
  padding: 0.7em 0.5em;
  font-size: 1em;
  border-radius: 0;
  background-image: url("data:image/svg+xml;utf8,<svg fill='currentColor' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.5em bottom 0.5em;
}

// table adapted from terminal.css https://terminalcss.xyz/
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.5em;
}
table td, table th {
  vertical-align: top;
  border: 1px solid $grey-color-dark;
  padding: 0.4em;
  font-size: 1em;
}
table thead tr th {
  font-size: 1em;
  vertical-align: middle;
  font-weight: 700;
}
table tfoot tr th {
  font-weight: 500;
}
table caption {
  font-size: 1em;
  margin: 0 0 1em;
}

// code
pre,
code {
  font-family: $fix-font-family;
  line-height: 1.4em;
}
code {
  padding: 1px 5px;
  // can be standalone (not in highlight block) so needs backcolor
  background-color: #eef;
}
pre {
  padding: 8px 12px;
  overflow-x: auto;
  // allow to wrap in a responsive way
  // from http://nicolashery.com/fast-mobile-friendly-website-with-jekyll/
  white-space: pre-wrap;
  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    max-width: 500px;
  }
}

// note/highlight
.note {
  position: relative;
  padding: 10px 10px 0;
  border: 1px solid #ffca2880;
  background-color: #ffd54f80;
  border-radius: 6px;
}

// horizontal lines
hr {
  height: 1px;
  background-color: transparent;
  border-top: 1px dashed #cccccd;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

// clearfix
%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// code blocks that use Liquid highlight code
figure.highlight {
  border-left: 6px solid #eeeeff;
}
// Visual Basic approximate syntax highlighting in Liquid highlight code blocks
.highlight .language-vb {
  // comments
  & .c1 {
    color: #129804;
  }
  // "region"
  & .cp {
    color: #e22e2e;
  }
  & .k {
    color: #0c1da9;
  }
  & .nc, & .nv, & .nn {
    color: #222223;
  }
  // strings
  & .s {
    color: #821a3a;
  }
  & .n, & .kt {
    color: #268bd2;
  }
}

// TODO SQL syntax blocks
.language-sql .highlight {
  // comments
  & .c1 {
    color: #129804;
  }
}