// sidebar
aside {
  // width will be reduced based on media breakpoints
  width: 23%;
  // fixed at left-hand side of screen
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  // gradient border at right only, from grey to transparent
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #cccccd, transparent) 1 100%;
  border-left: none;
}
// home link
a.home-link {
  cursor: default;
  color: #bbbbbc;
  // no hover
  &:hover {
    color: darken($brand-color, 25%);
    background-color: transparent;
    text-decoration: none;
  }
}
// header in sidebar
// note headers are used elsewhere in the site
aside > header {
  text-align: center;
  margin: auto;
}
// site heading
aside > header h1 {
  font-size: 32px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: -1px;
}
// links in sidebar
#links a {
  display: block;
}
// search in sidebar
#search {
  margin-top: 0.8em;
  padding: 0.8em;
}
// search input
#searchBox {
  display: block;
  height: 1.9em;
  margin-left: auto;
  margin-right: auto;
}
// for narrower layouts, make sidebar narrower
@include media-query($on-laptop) {
  aside {
    width: 100px;
  }
  // Site Search 360 search text box
  #searchBox {
    max-width: 70px;
  }
  // hide the site heading
  aside > header h1 {
    display: none;
  }
  // make avatar image smaller
  aside > header img[alt="thomasswilliams"] {
    width: 90px;
    height: 90px;
    // add bottom padding
    margin-bottom: 3em;
  }
  // make links font smaller
  #links a {
    font-size: 0.9em;
  }
}

// main content wrapper
main {
  position: absolute;
  right: 0;
  min-height: 100%;
  // width = 100% minus width of aside
  width: 74%;
  padding: 20px;
}

// article body
div[itemprop="articleBody"] {
  font-weight: 100;
}

// when too narrow, make main content wrapper = width - aside width
@include media-query($on-laptop) {
  main {
    width: 85%; // fallback if needed
    width: calc(100% - 135px);
  }
}
// site footer, contained within main content wrapper
footer {
  padding: $spacing-unit 0;
  color: $grey-color-dark;
  font-size: 0.8em;
}

// columns in footer
footer > div.col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: 0;
  width: calc(50% - (#{$spacing-unit} / 2));
}

// lists in header and footer
footer div.col ul, header ul {
  list-style: none;
  margin-left: 0;
}

// for narrower layouts, make footer cols full width
@include media-query($on-palm) {
  footer > div.col {
    float: none;
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

// post list
ul.posts {
  list-style: none;
  margin-left: 0;
}
// links to posts in post list
ul.posts h2 {
  // remove space after
  margin-bottom: 0;
  // add space before
  margin-top: 15px;
}
// post headings
h2[itemprop~="headline"] {
  font-size: 1.8em;
  color: #aaaaab;
  margin-bottom: 0;
}
// post dates
time[itemprop="datePublished"], ul.posts time {
  color: $grey-color;
  font-size: 0.8em;
}
// categories
span.categories {
  font-size: 0.8em;
}
