---
layout: default
permalink: /categories/
title: Categories
---
<!-- loop through all categories on any posts on site -->
{% for category in site.categories %}
  <!-- create outer div -->
  <div class="category-group">
    <!-- anchor -->
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="category-name" id="#{{ category_name | slugize }}">{{ category_name }}</div>
    <a name="{{ category_name | slugize }}"></a>
    <!-- loop through each page in the category -->
    <ul class="posts">
      {% for post in site.categories[category_name] %}
      <li>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      </li>
      {% endfor %}
    </ul>
  </div>
{% endfor %}
