---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2 itemprop="name headline">{{ page.title }}</h2>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>&nbsp;
      <span class="categories">
        <!-- make "categories" collection (may be 0, 1 or more categories per page) -->
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        <!-- loop through collection and make a hyperlink to categories page with anchor -->
        {% for category in categories %}<a href="{{site.baseurl}}/categories/#{{category|slugize}}" rel="category">{{category}}</a>{% unless forloop.last %},&nbsp;{% endunless %}
        {% endfor %}
      </span>
    </p>
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
  <!-- comments using utterances -->
  <script src="https://utteranc.es/client.js" repo="thomasswilliams/thomasswilliams.github.io"
          issue-term="url" theme="github-light" crossorigin="anonymous" async>
</script>
</article>