---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h2 itemprop="name headline">{{ page.title }}</h2>
    <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>&nbsp;|&nbsp;
      <span class="categories"> 
        {% for category in post.categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </span>
    </p>
  </header>
  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>